<div class="text-white p-lg-5 p-md-4 p-4 aboutmediv">
  <div class="aboutme h2">About Me</div>
  <div class="aboutme-text d-flex align-items-center">
    <div>
      Passionate and enthusiastic web developer with 2 years of working
      experience in web development and design. Being proficient in front-end
      services and having adequate knowledge in back-end services enriched my
      confidence for moving faster towards my web development career. Looking
      for a role as a web developer to contribute my best for the welfare of the
      company as well as the society.
    </div>
  </div>
</div>
