<div class="text-white p-5 aboutmediv">
  <div class="aboutme mb-5 h2">About Me</div>
  <div class="text-justify aboutme-text mb-5">
    Passionate and enthusiastic web developer with 2 years of working experience
    in web development and design. Being proficient in front-end services and
    having adequate knowledge in back-end services enriched my confidence for
    moving faster towards my web development career. Looking for a role as a web
    developer to contribute my best for the welfare of the company as well as
    the society.
  </div>
</div>
