<div class="text-white p-5 education-div">
  <div class="mb-3 h2">
    <i class="bi bi-send-check text-yellowgreen"></i> Get in Touch
  </div>
  <div class="education">
    <div class="mb-5">
      <div class="p-lg-2 mb-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.0021154224305!2d90.4318624654435!3d23.71161849617261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b9cc7d566d03%3A0x2472a49ac0504cd2!2sJatra%20Bari%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1669285029097!5m2!1sen!2sbd"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-100"
        ></iframe>
      </div>
      <div class="d-flex flex-wrap">
        <div class="address-det-div">Email: abbirtak3@gmail.com</div>
        <div class="address-det-div">Phone: +880 1681 498184</div>
        <div class="address-det-div">Address: Dhaka, BAngladesh</div>
      </div>
      <div class="mt-5">
        <div class="mb-3 h5">Contact Form</div>
      </div>
      <div class="contact-form p-2">
        <form [formGroup]="formsenderdata" novalidate (submit)="senddata()">
          <input
            type="text"
            placeholder="Name"
            id="form-sender-name"
            autocomplete="off"
            class="inputcss"
            required
            formControlName="name"
          />
          <input
            type="email"
            placeholder="Email"
            id="form-sender-email"
            autocomplete="off"
            class="inputcss"
            required
            formControlName="email"
          />
          <textarea
            name="text"
            id="form-sender-text"
            cols="40"
            rows="4"
            class="inputcss"
            class="form-sender-text"
            required
            formControlName="textdet"
          ></textarea>
          <button type="submit" class="form-submit-btn">Send Message</button>
        </form>
        <p class="p-2 mt-2 d-none text-danger" id="warnmsg"><small>*Please Fill All The Fields</small></p>
      </div>
    </div>
  </div>
</div>