<div class="text-white skills-div p-5">
  <div class="mb-3 h2">
    <i class="bi bi-mortarboard text-yellowgreen"></i> Skills
  </div>
  <div class="skills-details">
    <div class="d-flex w-100">
        <div class="w-50">
          <div class="h4 text-center">
            <i class="bi bi-laptop text-yellowgreen"></i> Front-End
          </div>
          <div>
            <div>Frameworks</div>
            <ul>
              <li>Angular</li>
            </ul>
            <div>Library</div>
            <ul>
              <li>React</li>
            </ul>
            <div>CSS Libraries</div>
            <ul>
              <li>Bootstrap</li>
              <li>Tailwind</li>
            </ul>
            <div>Languages</div>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
            </ul>
          </div>
        </div>
        <div class="w-50">
          <div class="h4 text-center">
            <i class="bi bi-hdd-rack text-yellowgreen"></i> Back-End
          </div>
          <div>
            <div>Framwork</div>
            <ul>
              <li>ExpressJs</li>
              <li>NodeJs</li>
            </ul>
            <div>Database</div>
            <ul>
              <li>MongoDB</li>
              <li>MySql</li>
            </ul>
            <div>Languages</div>
            <ul>
              <li>PHP</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="">
        <div class="h4 text-center text-white">
          <i class="bi bi-hdd-rack text-yellowgreen"></i> Other Tools
        </div>
        <div>
          <ul>
            <li>VScode</li>
            <li>Github</li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="h4 text-center text-white">
            <i class="bi bi-keyboard text-yellowgreen"></i> Programming Languages
        </div>
        <div>
          <ul>
            <li>C++</li>
            <li>JavaScript</li>
            <li>Python</li>
          </ul>
        </div>
      </div>
  </div>
</div>
