<div class="sidebar">
  <ul class="list-unstyled">
    <li class="d-block mb-4 mt-4 nav-btn">
      <a
        routerLink="About" routerLinkActive
        class="text-decoration-none d-flex justify-content-center align-items-center flex-column"
        ><div><i class="bi bi-person"></i></div>
        <div class="navbartext">ABOUT</div></a
      >
    </li>
    <li class="d-block mb-4 mt-4 nav-btn">
      <a
        routerLink="Education"
        class="text-decoration-none d-flex justify-content-center align-items-center flex-column"
        ><div><i class="bi bi-book"></i></div>
        <div class="navbartext">EDUCATION</div></a
      >
    </li>
    <li class="d-block mb-4 mt-4 nav-btn">
      <a
        routerLink="Skills"
        class="text-decoration-none d-flex justify-content-center align-items-center flex-column"
        ><div><i class="bi bi-stars"></i></div>
        <div class="navbartext">SKILLS</div></a
      >
    </li>
    <li class="d-block mb-4 mt-4 nav-btn">
      <a
        routerLink="Projects"
        class="text-decoration-none d-flex justify-content-center align-items-center flex-column"
        ><div><i class="bi bi-terminal"></i></div>
        <div class="navbartext">PROJECTS</div></a
      >
    </li>
    <li class="d-block mb-4 mt-4 nav-btn">
      <a
        routerLink="Experience"
        class="text-decoration-none d-flex justify-content-center align-items-center flex-column"
        ><div><i class="bi bi-bar-chart"></i></div>
        <div class="navbartext">EXPERIENCE</div></a
      >
    </li>
    <li class="d-block mb-4 mt-4 nav-btn">
      <a
        routerLink="Contact"
        class="text-decoration-none d-flex justify-content-center align-items-center flex-column"
        ><div><i class="bi bi-send-check"></i></div>
        <div class="navbartext">CONTACT</div></a
      >
    </li>
  </ul>
</div>
