<div class="text-white works-div p-5">
  <div class="mb-3 h2">
    <i class="bi bi-mortarboard text-yellowgreen"></i> Projects
  </div>
  <div class="works-details d-flex flex-wrap">
    <div class="work p-2" *ngFor="let work of myworks">
      <img src="{{ work.img }}" alt="khoshgolpo" class="img-fluid pr-img" />
      <div class="mt-2">{{ work.title }}</div>
      <div>{{ work.desc }}</div>
      <div></div>
      <div>
        <a
          *ngIf="work.live"
          href="{{ work.live }}"
          target="_blank"
          class="text-decoration-none"
          >Live</a
        ><a
          *ngIf="work.github"
          href="{{ work.github }}"
          target="_blank"
          class="text-decoration-none"
          >Github</a
        >
      </div>
    </div>
  </div>
</div>
